.converter-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;

  margin-bottom: 2rem;
}

.converter-wrapper {
  align-items: center;
}

.converter-wrapper .arrow {
  justify-self: center;
}
